<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.baochao.dao.UserMapper">

    <!--  登录  -->
    <select id="userLogin" parameterType="java.util.Map" resultType="xyz.baochao.pojo.User">
        select *
        from user
        where userName = #{userName}
          and userPw = #{userPw}
    </select>

    <update id="userLoginIndexFalse" parameterType="java.util.Map">
        update user
        set userIndex=userIndex + 1
        where userName = #{userName}
    </update>
    <update id="userLoginIndexTrue" parameterType="java.lang.String">
        update user
        set userIndex=0
        where userUuid = #{uuid}
    </update>

    <update id="upDataUserName" parameterType="java.util.Map">
        update user
        set userName=#{newUserName}
        where userUuid = #{uuid}
    </update>
    <update id="upDataUserPw" parameterType="java.util.Map">
        update user
        set userPw=#{newUserPw}
        where userUuid = #{uuid}
    </update>

    <select id="selectLock" resultType="xyz.baochao.pojo.User" parameterType="int">
        select *
        from user
        where admin = #{i}
          and userIndex >= 3
    </select>

    <insert id="addUser" parameterType="xyz.baochao.pojo.User">
        insert into user
        values (#{userUuid}, #{userName}, #{userPw}, #{userRemarks}, #{userIndex})
    </insert>

    <select id="userName" parameterType="java.lang.String" resultType="int">
        select count(userUuid) from user where userName=#{userName}
    </select>

</mapper>